
<!-- <h1 id="title">Sistemas Embebidos - Redes de Sensores</h1> -->

<nb-card>
  <nb-card-header>
    <h1>Sistemas Embebidos - Redes de Sensores</h1>
  </nb-card-header>
</nb-card>

<ngx-nodo3></ngx-nodo3>
<ngx-nodo2></ngx-nodo2>



<!-- <div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <nb-card style="cursor: pointer" routerLink="/pages/nodos/nodo1">
      <nb-card-header>Nodo 1</nb-card-header>
      <nb-card-body>
        <section>
          <h6>Sensores</h6>
          <ul>
              <li>list item </li>
              <li>list item </li>
              <li>list item </li>
          </ul>
        </section>
        <section>
          <h6>Actuadores</h6>
          <ul>
              <li>list item </li>
              <li>list item </li>
              <li>list item </li>
          </ul>
      </section>

      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6" >
    <nb-card style="cursor: pointer" routerLink="/pages/nodos/nodo2">
      <nb-card-header>Nodo 2</nb-card-header>
      <nb-card-body>
        <section>
          <h6>Sensores</h6>
          <ul>
              <li>Luminosidad </li>
              <li>list item </li>
          </ul>
        </section>
        <section>
          <h6>Actuadores</h6>
          <ul>
              <li>list item </li>
              <li>list item </li>
          </ul>
      </section>

      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6" >
    <nb-card style="cursor: pointer" routerLink="/pages/nodos/nodo3">
      <nb-card-header>Nodo 3</nb-card-header>
      <nb-card-body>
        <section>
          <h6>Sensores</h6>
          <ul>
              <li>Temperatura </li>
              <li>Luminosidad </li>
          </ul>
        </section>
        <section>
          <h6>Actuadores</h6>
          <ul>
              <li>Blue Led </li>
              <li>list item </li>
          </ul>
      </section>

      </nb-card-body>
    </nb-card>
  </div>
</div> -->
